# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Compiled Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build folder
test/
build/

# Dependency directories (remove the ones you don't use)
/vendor/
go.sum
go.mod

# Output files (remove the ones you don't use)
*.out
*.test

### VS Code ###
.vscode/

### Audio files ###
audio/albums/hip-hop/drake/
audio/albums/pop/JONY\ -\ Без\ тебя\ я\ не\ я/

tmp.txt